<main
  class="w-screen min-h-screen flex flex-col justify-center items-center bg-slate-100 overflow-x-hidden"
>
  {{#if firsTime}}
    <div
      class="w-full absolute top-0 left-0 h-12 bg-green-500 text-white flex justify-center items-center"
    >
      <p>Welcome</p>
    </div>
  {{/if}}
  <h1 class="text-2xl text-orange-500 font-light">Hi Express</h1>
</main>